* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-family: "Times New Roman", Times, serif;
}

h1,
h4,
h2,
h3,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: "Playfair Display";
    margin: 10px 0;
}

p {
    margin: 15px 0;
}

h1 {
    font-size: 36px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

.mar10 {
    margin: 10px 0;
}

.mar15 {
    margin: 15px 0;
}

.mar18 {
    margin: 18px 0;
}


.pad32 {
    padding: 32px 0;
}

.pad64 {
    padding: 64px 0;
}

.pad64-16 {
    padding: 64px 16px;
}

.pad12-24 {
    padding: 12px 24px;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-50 {
    float: left;
    width: 50%;
}

.center {
    text-align: center;
}

.container {
    max-width: 1600px;
    min-width: 500px;
}

#main {
    position: relative;
}

#content {
    max-width: 1100px;
    margin: 0 auto;
}

#nav {
    height: 54px;
    padding: 8px 16px;
    background-color: #ffffff;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
}

.nav-left {
    float: left;
}


.nav-right {
    float: right;
}

#nav a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    letter-spacing: 4px;
    padding: 8px 16px;
    display: inline-block;
}

#nav a:hover {
    background-color: #ccc;
    cursor: pointer;
}

#slider {
    margin-top: 54px;
    padding-top: 50%;
    background: url(./image/hamburger.jpg) no-repeat top center / cover;
    position: relative;
}

#slider .heading {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 24px;
}

#content .about-img,
.our-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    opacity: 0.75;
}

.about {
    border-bottom: 1px solid #ccc;
}

.about p {
    text-align: left;
    font-size: 18px;
}


.about span {
    background-color: #f1f1f1;
}

.our p {
    font-size: 15px;
    color: #757575;
}

.our {
    margin-bottom: 1px solid #ccc;
}

.contact {
    margin-bottom: 30px;
}

.contact .address {
    color: #607d8b;
    font-size: 18px;
    font-weight: bolder;
}

.form-contact input {
    display: block;
    width: 100%;
    padding: 16px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.btn-contact {
    background-color: #f1f1f1;
    margin: 31px 0;
    padding: 11px 16px;
    border: none;
    outline: none;
}

.btn-contact:hover {
    background-color: #ccc;
    cursor: pointer;
}

#footer {
    font-size: 15px;
    background-color: #f1f1f1;
}

#footer p {
    padding: 32px 0;
    margin: 15px 0;
}